proxy: http://51.38.91.21:8080
token: #tour_token_here#
webhook:
 ext: https://google.com/hook1
 path: /hook1
 listen: 0.0.0.0:8888
users:
  User1: 555112233
  User2: 555112234
groups:
    family: "-2223344443"
